# Cypress files
/cypress/videos/
/cypress/screenshots/
/cypress/fixtures/

# Node modules
/node_modules/

# Environment files
/.env
/.env.local
/.env.*.local
!/env.example

# IDE files
.idea/
.vscode/

# Build files
/build/
/dist/

# Other files to ignore
.DS_Store
